@model List<IdentityRole>

<H1>Roles</H1>

<a asp-action="Create" asp-controller="Role">Add Role</a>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Role</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <th scope="row">@role.Id</th>
                <td>@role.Name</td>
                <td><a asp-controller="Role" asp-action="Update" asp-route-roleId="@role.Id">Edit</a></td>
                <td><a asp-controller="Role" asp-action="Delete" asp-route-roleId="@role.Id">Delete</a></td>
            </tr>
        }
    </tbody>
</table>